# Turing/UsbMonitor 3.5-inch LCD, serial USB35INCHIPSV2
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5722", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="turing-lcd"

